:global(body) {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman';
  }

.statList{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin: 0;
}
.statistics{
    margin-top: 100px;
   
    
}
.item{
    display: flex;
    flex-direction: column;
    padding: 34px;
    
}
.label{
    padding: 5px;
}
.percentage{
    padding: 5px;
    font-size: 26px;
}
.title{
    text-align: center;
    color: rgb(99 98 98);
    margin: 0%;
    background-color: #f0efef;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}